@import url("https://fonts.googleapis.com/css?family=Raleway:100,400");
.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
#home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "hero" "about" "brothers" "portfolio" "posts" "stats" "rush" "contact" "faq";
  color: black; }
  #home > div {
    background: white; }
  #home #hero {
    height: 23em;
    padding: none;
    font-size: 1.3em;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../assets/imgs/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white; }
    #home #hero-social {
      top: 95%;
      left: 50%;
      position: absolute;
      -webkit-transform: translate(-50%, -95%);
              transform: translate(-50%, -95%);
      font-size: 1.25em; }
      #home #hero-social #ilogo {
        height: 1em;
        vertical-align: -.125em; }
      #home #hero-social a {
        margin: .125em;
        text-decoration: none;
        color: white;
        opacity: .7; }
        #home #hero-social a:hover {
          opacity: 1; }
    #home #hero-title {
      top: 57%;
      left: 50%;
      text-align: center;
      position: absolute;
      font-weight: 400;
      -webkit-transform: translate(-50%, -57%);
              transform: translate(-50%, -57%);
      width: 100%;
      font-size: 3.5em; }
    #home #hero-main {
      letter-spacing: -0.125em; }
    #home #hero-subtitle {
      display: block;
      font-weight: 100;
      font-size: 0.25em; }
    #home #hero #family:after {
      content: 'fraternity'; }
    #home #hero #family:active:after {
      content: 'family'; }
  #home #brothers {
    height: 25em;
    background-image: url("../assets/imgs/group_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    grid-area: brothers; }
  #home #posts {
    height: 25em;
    background-image: url("../assets/imgs/orchard_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    grid-area: posts; }
  #home #faq {
    display: none;
    height: 25em;
    background-image: url("../assets/imgs/christmas_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    grid-area: faq; }
  #home #rush {
    height: 25em;
    background-image: url("../assets/imgs/fun_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    grid-area: rush; }
  #home #about {
    display: grid;
    grid-area: about;
    text-align: center;
    padding: 3em; }
    #home #about p {
      font-size: 1.25em; }
  #home #stats {
    grid-area: stats;
    padding: 2em;
    text-align: center;
    font-size: 1.75em; }
    #home #stats ul {
      list-style: none; }
      #home #stats ul li {
        font-weight: 400;
        margin: 6px; }
  #home #contact {
    grid-area: contact;
    padding: 3em;
    font-size: 0.8em; }
    #home #contact-list {
      list-style: none; }
      #home #contact-list .contact-list-name {
        font-weight: 400; }
      #home #contact-list .contact-list-title {
        font-weight: 400;
        font-style: oblique;
        font-size: 1.05em; }
    #home #contact ul li {
      margin: 0.25em; }
  #home #portfolio {
    grid-area: portfolio;
    padding: 2em;
    text-align: center; }
    #home #portfolio img {
      margin: 3px;
      width: 64px; }

@media screen and (min-width: 800px) {
  #home {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "hero hero" "about about" "brothers posts" "portfolio portfolio" "rush faq" "stats contact"; }
    #home #hero {
      height: 30em;
      font-size: 1.7em;
      grid-area: hero; }
    #home #faq {
      display: block; }
    #home #portfolio img {
      width: 128px; } }

* {
  margin: 0;
  padding: 0; }

body {
  background: white;
  font-family: 'Raleway', Helvetica;
  font-weight: 100; }
