<header id="hero">
    <div id="hero-title">
        <span id="hero-main"> &Theta; &Tau; </span>
        <span id="hero-blog">blog</span>
        <span id="hero-subtitle"> what are we up to? </span>
    </div>
    <div id="hero-social">
        <a target="blank" href="https://www.instagram.com/kappathetatau/"><i class="fab fa-instagram"></i></a>
        <a target="blank" href="https://www.youtube.com/channel/UCNdOQ2UaBP8jZtekTrPvi9g"><i class="fab fa-youtube"></i></a>
        <a target="blank" href="http://illinois.edu/"><img id="ilogo" src="/assets/imgs/ilogo.png"></a>
        <a target="blank" href="https://www.facebook.com/thetatau.kappa/"><i class="fab fa-facebook-square"></i></a>
        <a target="blank" href="http://thetatau.org/"><i class="fas fa-globe"></i></a>
    </div>
</header>
