<div id="posts">
    {% for post in site.posts %}
    {% assign words = post.content | number_of_words %}


    <article class="post-preview">
        {% if post.image %}
        <a href="{{post.url}}" class="post-preview-thumbnail" style="background-image: url('/assets/imgs/posts/{{post.image}}');"></a>
        {% else %}
        {% endif %}
        <div class="post-preview-content">
            <h2 class="post-preview-title"><a href="{{post.url}}">{{post.title}}</a></h2>
            <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
            <div class="post-preview-meta">
                <span class="post-preview-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
                <span class="post-preview-words">{% if words < 360 %} 1 min {% else %} {{ words | divided_by:180 }} mins {% endif %} </span>
            </div>
        </div>
    </article>
    {% endfor %}
</div>
