<div id="actives">
<!--    <div class="class">-->
<!--        <span class="title" style="color: #8B0000"><b>Executive Board</b></span>-->
<!--        <div class="brothers-wrapper">-->

<!--            {% for exec in site.data.exec_board.exec_board %}-->
<!--            <div class="brother" style="background-image: url({{exec.image}});">-->
<!--                <div class="overlay">-->
<!--                    <span class="name"> {{exec.name}}<br /> </span> -->
<!--                    <span class="exec-title"> {{exec.title}} </span> -->
<!--                </div>-->
<!--            </div>-->
<!--            {% endfor %}-->

<!--        </div>-->
<!--    </div>-->

    {% for class in site.data.members.actives %}
    {% if class.members.size > 0 %}

    <div class="class">

        <span class="title"> {{class.semester}} </span>

        <div class="brothers-wrapper">

            {% for brother in class.members %}
            <div class="brother" style="background-image: url({{brother.picture}});">
                {% if brother.linkedin != '' %}
                <a target="blank" href="{{brother.linkedin}}">
                    <i class="link fab fa-linkedin"></i>
                </a>
                {% endif %}
                <div class="overlay">
                    <span class="name"> {{brother.name}} </span>
                    <p><span class="major"> {{brother.major}} </span></p>
                    <p><span class="hometown"> {{brother.hometown}} </span></p>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>

    {% endif %}
    {% endfor %}
</div>

<div id="alumni">
    <span class="title"> Alumni </span>
    <div class="brothers-wrapper">

        {% for brother in site.data.members.alumni %}
        <div class="brother" style="background-image: url({{brother.picture}});">
            {% if brother.linkedin != '' %}
            <a target="blank" href="{{brother.linkedin}}">
                <i class="link fab fa-linkedin"></i>
            </a>
            {% endif %}
            <div class="overlay">
                <span class="name"> {{brother.name}} </span> 
                <p><span class="major"> {{brother.major}} </span></p>
                <p><span class="hometown"> {{brother.hometown}} </span></p>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
