<div id="members">
    {% for classes in site.data.members.classes %}

    {% for class in classes %}

    <div class="members-class">

        <span class="members-class-title"> {{class[0]}} </span>

        <div class="members-class-brothers">
            {% for brother in class[1] %}

            <div style="background-image: url(/assets/imgs/brothers/{{brother.picture}});" class="members-class-brother">
                <figure>
                    <div class="members-class-brother-overlay">
                        <span class="members-class-brother-name"> {{brother.name}} </span>
                        <p><span class="members-class-brother-major"> {{brother.major}} </span></p>
                        <p><span class="members-class-brother-hometown"> {{brother.hometown}} </span></p>
                    </div>
                </figure>
            </div>

            {% endfor %}
        </div>

    </div>

    {% endfor %}

    {% endfor %}
</div>
