<div id="members">
    {% for class in site.data.members.classes %}
    {% if class.members.size > 0 %}

    <div class="class">

        <span class="title"> {{class.semester}} </span>

        <div class="brothers-wrapper">

            {% for brother in class.members %}
            <div class="brother" style="background-image: url({{brother.picture}});">
                {% if brother.linkedin != '' %}
                <a target="blank" href="{{brother.linkedin}}">
                    <i class="link fab fa-linkedin"></i>
                </a>
                {% endif %}
                <div class="overlay">
                    <span class="name"> {{brother.name}} </span>
                    <p><span class="major"> {{brother.major}} </span></p>
                    <p><span class="hometown"> {{brother.hometown}} </span></p>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>

    {% endif %}
    {% endfor %}
</div>
