#blog {
    display: grid;
    grid-template-columns: 1fr;

    #hero {
        @include hero-styling('/assets/imgs/orchard_3.jpg', 50%);
    }

    #posts {
        display: grid;
        grid-template-columns: 1fr;

        a {
            text-decoration: none;
        }

        .post-preview {
            margin: 1em;
            border-radius: 5px;
            position: relative;
            overflow: hidden;
            transition: all .3s ease;
            &:hover {
                transform: translate(0px, -2px);
                box-shadow: 0 15px 45px -10px rgba(10, 16, 34, .2);
            }
            @include box-shadow();

            &-thumbnail {
                width: 100%;
                min-height: 10em;
                background-size: cover;
                background-color: transparent;
                display: block;
                background-position: 50% 50%;
                box-sizing: border-box;
            }

            &-content {
                padding: 1em;
                font-weight: 300;
                color: #515151;

                p {
                    margin-bottom: 1em;
                }
            }

            &-title {
                margin: 0 0 5px;

                a {
                    color: $text-color;
                }
            }

            &-meta {
                //position: absolute;
                //bottom: 10px;
                //left: 10px;
            }

            &-date {
                font-size: .8em;
            }
            
            &-words {
                font-size: .8em;
            }

        }
    }
}

@media screen and (min-width: 600px) {
    #blog {
        #posts {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (min-width: $desktop-trigger) {
    #blog {
        #hero {
            font-size: $hero-desktop-font-size;
        }
    }
}

@media screen and (min-width: 1000px) {
    #blog {
        #posts {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media screen and (min-width: 1400px) {
    #blog {
        #posts {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}
