#brothers {
    display: grid;
    grid-template-columns: 1fr;

    #hero {
        @include hero-styling('/assets/imgs/orchard_1.jpg', 50%);
    }

    #members {
        padding: .75em;

        img {
            width: 100px;
        }

        .members-class {

            &-title {
                display: block;
                font-size: 2em;
                width: 100%;
                text-align: center;
            }

            &-brothers {
                padding: .50em;
                height: max-content;
                text-align: center;
            }

            &-brother {
                @include background-image-base();
                @include box-shadow();
                color: white;
                position: relative;
                margin: 10px;
                border-radius: 2px;
                display: inline-block;
                text-align: initial;
                width: 145px;
                height: 250px;
                line-height: 0.9em;

                figure {
                    height: 100%;
                    width: 100%;
                }

                &-major {
                    font-size: 0.74em;
                }

                &-name {
                    font-weight: 400;
                    font-size: 1em;
                }

                &-hometown {
                    font-size: 0.7em;
                }

                &-overlay {
                    position: absolute;
                    padding: 10px;
                    bottom: 0;
                    left: 0;
                    height: 20;
                    width: 100%;
                    border-radius: 0 0 2px 2px;
                    background-color: rgba(0,0,0,0.6);
                    box-sizing: border-box;
                }
            }
        }
    }
}

@media screen and (min-width: $desktop-trigger) {
    #brothers {
        #members {
            .members-class {
                &-brother {
                    width: 180px;
                }
            }
        }

        #hero {
            font-size: $hero-desktop-font-size;
        }
    }
}
