#brothers {
    display: grid;
    grid-template-columns: 1fr;

    #hero {
        @include hero-styling('/assets/imgs/brothers-page-spring-2022.jpg', 50%);
    }

    .title {
        display: block;
        font-size: 2em;
        font-weight: 300;
        width: 100%;
        text-align: center;
    }

    .brothers-wrapper {
        padding: .50em;
        height: max-content;
        text-align: center;

        .brother {
            @include background-image-base();
            @include box-shadow();
            color: white;
            position: relative;
            margin: 10px;
            border-radius: 2px;
            display: inline-block;
            text-align: initial;
            width: 145px;
            height: 250px;
            line-height: 0.9em;

            &::after{
                position: absolute;
                top: 0px;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.20),rgba(0, 0, 0, 0.0));
                display: block;
                content: '';

                height: 100%;
                width: 100%;
            }

            a {
                text-decoration: none;
                color: white;

                .link {
                    font-size: 2.25em;
                    z-index: 1000;
                    position: absolute;
                    right: 0px;
                    margin: 5px;
                    opacity: .7;
                    transition: all .2s ease;
                }

                .link:hover {
                    opacity: 1;
                }
            }

            .overlay {
                position: absolute;
                padding: 7px;
                z-index: 1000;
                bottom: 0;
                left: 0;
                width: 100%;
                border-radius: 0 0 2px 2px;
                background-color: rgba(0,0,0,0.6);
                box-sizing: border-box;

                .major {
                    font-size: 0.74em;
                }

                .name {
                    font-weight: 400;
                    font-size: .9em;
                }

                .exec-title {
                    font-weight: 400;
                    font-size: .9em;
                }

                .hometown {
                    font-size: 0.7em;
                }
            }
        }
    }

    #actives {
        padding-top: .75em;

        .class {
            padding-top: 1em;
            padding-bottom: 1em;

            &:nth-child(even) {
                background-color: #f8f8f8;
                border-top: 1px solid #f2f2f2;
                border-bottom: 1px solid #f2f2f2;
            }
        }
    }

    #alumni {
        padding-top: 1em;
        padding-bottom: .75em;
        background-color: #fcfaee;
    }
}

@media screen and (min-width: $desktop-trigger) {
    #brothers {
        #members {
            .brother {
                width: 180px;
                height: 300px;
                line-height: 1.05em;
                .overlay {
                    padding: 10px;
                }
                .name {
                    font-size: 1em;
                }
                .exec-title {
                    font-size: 1em;
                }
                .major {
                    font-size: .8em;
                }
                .hometown {
                    font-size: .7em;
                }
            }
        }
        #hero {
            font-size: $hero-desktop-font-size;
        }
    }
}
