$title-fontsize: 3em;

@mixin background-image-base() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin background-button-image-style($url) {
    background-image: url($url);
    @include background-image-base();
}

#home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "hero"
    "about"
    "brothers"
    "posts"
    "stats"
    "portfolio"
    "faq"
    "rush"
    "contact";

    & > div {
        background: white;
        color: #714d4d;
    }

    .image-button {
        &-wrapper{
            display: block;
            position: relative;
            margin: 0.50em;
            cursor: pointer;
            transition: all 0.5s;

            &:hover {
                .image-button-text {
                    padding-right: 50px;
                }
                .image-button-text:after {
                    opacity: 1;
                    right: 0;
                }
            }
        }

        &-text {
            display: inline-block;
            font-size: 5em;
            position: absolute;
            top: 50%;
            left: 50%;
            transition: 0.5s;
            transform: translate(-50%, -50%);
            text-decoration: none;
            color: white;

            &:after {
                content: '»';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }
        }
    }

    #hero {
        height: 23em;
        padding: none;
        font-size: 1.3em;
        background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4) ), url(../assets/imgs/hero.jpg);
        @include background-image-base();
        position: relative;
        color: white;

        &-social {
            top: 95%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -95%);
            font-size: 1.25em;
            #ilogo {
                height: 1em;
                vertical-align: -.125em;
            }
            a {
                margin: .125em;
                text-decoration: none;
                color: white;
                opacity: .7;
                &:hover {
                    opacity: 1;
                }
            }
        }

        &-title {
            top: 57%;
            left: 50%;
            text-align: center;
            position: absolute;
            font-weight: 400;
            transform: translate(-50%, -57%);
            width: 100%;
            font-size: 3.5em;
        }

        &-main {
            letter-spacing: -0.125em;
        }

        &-subtitle {
            display: block;
            font-weight: 100;
            font-size: 0.25em;
        }

        #family:after{
            content:'fraternity';
        }

        #family:active:after{
            content:'family';
        }
    }

    #brothers {
        height: 25em;
        @include background-button-image-style("../assets/imgs/group_1.jpg");
        position: relative;
        grid-area: brothers;
    }

    #posts {
        height: 25em;
        @include background-button-image-style("../assets/imgs/orchard_2.jpg");
        position: relative;
        grid-area: posts;
    }

    #faq {
        height: 25em;
        @include background-button-image-style("../assets/imgs/christmas_1.jpg");
        position: relative;
        grid-area: faq;
    }

    #rush {
        height: 25em;
        @include background-button-image-style("../assets/imgs/fun_1.jpg");
        position: relative;
        grid-area: rush;
    }

    #about {
        display: grid;
        grid-area: about;
        padding: 3em;
        position: relative;
        p {
            font-size: 1.25em;
        }

        &::after {
            background-position: center;
            background-repeat: no-repeat;
            content: "";
            background-image: url('../assets/imgs/thetatau.png');
            opacity: 0.05;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
        }
    }

    #stats {
        grid-area: stats;
        padding: 0.5em 2em 2em;
        text-align: center;
        font-size: 1.75em;
        position: relative;

        ul {
            list-style: none;
            li {
                font-weight: 400;
                margin: 6px;
            }
        }
        &::after {
            content: "";
            background-image: linear-gradient( rgba(0, 0, 0, 0.0), rgba(255, 255, 255, 1) ), url('../assets/imgs/gear.png');
            opacity: 0.125;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
        }
    }

    #contact {
        grid-area: contact;
        padding: 3em;
        font-size: 0.8em;
        &-list {
            list-style: none;
            .contact-list-name {
                font-weight: 400;
            }
            .contact-list-title {
                font-weight: 400;
                font-style: oblique;
                font-size: 1.05em;
            }
        }
        ul {
            li {
                margin: 0.25em;
            }
        }
    }

    #portfolio {
        grid-area: portfolio;
        padding: 2em 1.5em;
        text-align: center;

        img {
            margin: 3px;
            width: 64px;
        }
    }
}

@media screen and (min-width: 800px) {
    #home {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "hero hero"
        "about about"
        "brothers posts"
        "portfolio portfolio"
        "faq rush"
        "stats contact";

        #hero {
            height: 27em;
            font-size: 1.7em;
            grid-area: hero;
        }

        #about {
            padding: 3em 10em;
        }

        #stats {
            &::after {
                background-image: url('../assets/imgs/gear.png');
                opacity: 0.025;
            }
            padding: 1.25em;
        }

        #portfolio {
            padding: 6em 1.5em;
            img {
                width: 128px;
            }
        }

        #faq {
            margin-top: auto;
        }

    }
}
