$hero-mobile-font-size: 1.2em;
$hero-desktop-font-size: 1.6em;
$title-fontsize: 3em;
$text-color: #714d4d;
$desktop-trigger: 800px;
$navbar-height: 50px;
$navbar-border-height: 2px;


@mixin background-image-base() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin background-button-image-style($url) {
    background-image: url($url);
    @include background-image-base();
}

@mixin box-shadow() {
    box-shadow: #bbbbbb 0px 2px 5px;
}

@mixin icon-styling() {
    font-size: 1.8em;
    background:none;
    position:absolute;
    top:0;
    right:0;
    color: $text-color;
    border:0;
    cursor:pointer;
    outline:none;
    height: $navbar-height;
    width: $navbar-height;
}
