$hero-mobile-font-size: 1.2em;
$hero-desktop-font-size: 1.6em;
$title-fontsize: 3em;
$text-color: #714d4d;
$up-down-padding: 4.5em;
$desktop-trigger: 800px;
$navbar-height: 60px;
$navbar-border-height: 2px;


@mixin background-image-base() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin background-button-image-style($url) {
    background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ), url($url);
    font-weight: 200;
    @include background-image-base();
}

@mixin box-shadow() {
    box-shadow: #bbbbbb 0px 2px 5px;
}

@mixin icon-styling() {
    font-size: 1.8em;
    background:none;
    position:absolute;
    top:0;
    right:0;
    color: $text-color;
    border:0;
    cursor:pointer;
    outline:none;
    height: $navbar-height;
    width: $navbar-height;
}

@mixin image-button-animation() {
    .text {
        padding-right: 50px;
    }
    .text:after {
        opacity: 1;
        right: 0;
    }
    .sub-text {
        opacity: 1;
        left: 50%;
    }
}

@mixin hero-styling($background-image, $distance-from-top) {
    height: 25em;
    padding: none;
    font-size: $hero-mobile-font-size;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4) ), url($background-image);
    @media screen and (min-width: $desktop-trigger) {
        background-attachment: fixed;
    }
    @include background-image-base();
    position: relative;
    color: white;

    #title {
        top: $distance-from-top;
        left: 50%;
        text-align: center;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: 3.5em;
        #main {
            font-weight: 400;
            letter-spacing: -0.125em;
        }

        #subtitle {
            display: block;
            font-size: 0.25em;
        }
    }
}
