$nav-opacity: .95;

header{
    width:100%; 
    opacity: $nav-opacity;
    background:#ffffff; 
    height:$navbar-height; 
    line-height:$navbar-height;
    top: 0;
    z-index: 10000;
    position: fixed;
    border-bottom: $navbar-border-height solid #dddddd;
    a {
        text-decoration: none;
        color: $text-color;
    }
    img {
        height: 66%;
        margin-left: 20px;
        vertical-align: middle;
    }
}
.hamburger{
    @include icon-styling();
}
.cross{
    @include icon-styling();
    display: none;
}
.menu {
    z-index:1000000;
    top: $navbar-height + $navbar-border-height;
    font-weight:bold;
    font-size:0.8em;
    width:100%;
    background:#f1f1f1;
    opacity: $nav-opacity;
    display: none;
    position:fixed;
    text-align:center;
    font-size:12px;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style-image: none;
    }
    li {
        display: block;
        padding:15px 0 15px 0;
        border-bottom:#dddddd 1px solid;
        a {
            text-decoration:none;
            margin: 0px;
            color:$text-color;
        }
        a:hover {
            color: $text-color;
            text-decoration:none;
        }
    }
    li:hover {
        display: block;
        background:#ffffff;
        padding:15px 0 15px 0;
        border-bottom:#dddddd 1px solid;
    }
    a{
        text-decoration:none;
        color:$text-color;
    }
    a:hover {
        text-decoration:none;
        color:$text-color;
    }
}
