$post-font-size: 1.2em;
$post-font-color: rgba(0,0,0,.84);

.post {
    padding: 20px;
    font-weight: 300;
    color: $post-font-color;
    font-size: $post-font-size;

    .meta {
        font-weight: 100;
    }

    h1 {
        img {
            height: $post-font-size;
            vertical-align: bottom;
        }
    }

    .content {
        p {
            margin-top: $post-font-size;
            margin-bottom: $post-font-size;
        }

        img {
            margin-top: $post-font-size;
            max-width: 100%;
        }

        pre {
            padding: $post-font-size;
        }

        ol {
            margin-top: $post-font-size;
            margin-bottom: $post-font-size;

            li {
                list-style-position: inside;
            }
        }
    }

}

@media screen and (min-width: $desktop-trigger) {
    .post {
        width: 700px;
        margin: auto;
    }
}
