$post-font-size: 1em;
$post-font-color: rgba(0,0,0,.84);

@mixin margin-top-bottom() {
    margin-top: $post-font-size;
    margin-bottom: $post-font-size;
}

@mixin list-styling() {
    @include margin-top-bottom();
    li {
        list-style-position: inside;
    }
}

.post-wrapper {
    background-color: #f8f8f8;
}

.post {
    &-banner {
        width: 100%;
    }

    padding: 20px;
    font-weight: 300;
    color: $post-font-color;
    background-color: white;
    font-size: $post-font-size;
    @include box-shadow();

    table {
        padding: 0; 
        overflow: scroll;
        font-size: 80%;
        table-layout: fixed;
        display:block;
        overflow-x: auto;
    }
    table tr {
        border-top: 1px solid #cccccc;
        background-color: white;
        margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
    background-color: #f8f8f8; }
    table tr th {
        font-weight: bold;
        border: 1px solid #cccccc;
        text-align: left;
        margin: 0;
    padding: 6px 13px; }
    table tr td {
        border: 1px solid #cccccc;
        text-align: left;
        margin: 0;
        white-space: nowrap;
    padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
    margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
    margin-bottom: 0; }

    .meta {
        font-weight: 100;
        font-size: $post-font-size/1.3;
        margin-bottom: $post-font-size;
    }

    img {
        max-height: 467px;
        max-width: 100%;
        display: block;
        margin: auto;
        @include box-shadow();
    }

    .content {
        p {
            @include margin-top-bottom();
        }

        a {
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
        }

        pre {
            padding: $post-font-size;
        }

        ol {
            @include list-styling();
        }

        ul {
            @include list-styling();
        }
        .highlight {
            overflow: auto;
        }
        .brother-linkedin {
            text-decoration: none;
            opacity: .7;
            transition: all .2s ease;
            color: rgb(173, 181, 189);
            &:hover {
                opacity: 1;
            }
        }
    }
}

@media screen and (min-width: $desktop-trigger) {
    .post {
        width: 950px;
        margin: auto;
        font-size: 1.2em;
    }
}
