@import "mixins";
@import "default";
@import "animation";
@import "syntax";

@import "blog";
@import "post";
@import "index";
@import "navbar";
@import "brothers";

//HTML Should reach the corner of the windows!
* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    font-family: 'Raleway', Helvetica;
    padding-top: $navbar-height + $navbar-border-height;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:400');

