@import "mixins";
@import "default";
@import "animation";
@import "syntax";

@import "blog";
@import "post";
@import "index";
@import "slideshow";
@import "navbar";
@import "brothers";

//HTML Should reach the corner of the windows!
* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    font-family: 'rawline', Helvetica;
    font-weight: 300;
    padding-top: $navbar-height + $navbar-border-height;
}

h1, h2, h3 {
    font-weight: 500;
}

@media screen and (min-width: $desktop-trigger) {
    .post {
        width: 950px;
        margin: auto;
        font-size: 1.2em;
    }
}

@import 'https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400');

