@import "syntax";

@import "default";
@import "index";

@import url('https://fonts.googleapis.com/css?family=Raleway:100,400');

//HTML Should reach the corner of the windows!
* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    font-family: 'Raleway', Helvetica;
    font-weight: 100;
}
