<div id="about">
    <h1> theta tau is... </h1>
    <p>
        the oldest, largest, and foremost Fraternity for Engineers. Since
        its founding at the University of Minnesota in 1904, over 40,000 have been
        initiated over the years. With emphasis on quality and a strong fraternal bond,
        the Fraternity has chapters only at ABET accredited schools and limits the
        number of student members in any one of its chapters across the nation.
    </p>
    <br>
    <p>
        Currently, Kappa has over 80 active members and is continuing to grow.
        Each semester, the Kappa Chapter hosts professional, philanthropic, and
        social events on the University of Illinois campus. Members of Kappa
        attend leadership conferences and the University of Illinois
        Engineering Open House. They also volunteer on campus through various
        engineering programs and events. Members also enjoy taking part in
        social events including dinners, camping, and pick-up sports. The
        involvement and dedication of many members has allowed Kappa to mature
        with tremendous speed over the past few years, and it will continue to
        grow in the future.
    </p>
</div>
