<div id="announcement" {% unless site.data.announcement.show %} style="visibility: hidden; height: 0; padding: 0; border: none; margin: 0;" {% endunless %}>
    <h1> {{ site.data.announcement.title }} </h1>
    <!-- <h4> {{ site.data.announcement.date }} </h4> -->
<!--    <iframe width="1424" height="516" src="https://www.youtube.com/embed/nvfd1arkClY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
    <img src="assets/imgs/rush%20graphics/fall%202022/header.jpeg" width="680" height="224">
    <p> {{ site.data.announcement.message }} </p>
</div>
