<div id="brotherhood">
    <h1> not just a fraternity... </h1>
    <p>
        Engineering is <i>tough</i>. But tough experiences create memorable relationships. Theta Tau is more than just a co-ed fraternity to us; it is a <b>brotherhood</b>. Here, we have built life-long relationships and learnt to navigate our school and career with the support of each other.
    </p>


</div>

<div id="brotherhood-slides" class="slideshow-container">

    <div class="slide slide-1 brotherhood-slide fade"></div>
    <div class="slide slide-2 brotherhood-slide fade"></div>
    <div class="slide slide-3 brotherhood-slide fade"></div>
    <div class="slide slide-4 brotherhood-slide fade"></div>
    <div class="slide slide-5 brotherhood-slide fade"></div>
    <!-- <div class="slide slide-6 brotherhood-slide fade"></div>
    <div class="slide slide-7 brotherhood-slide fade"></div>
    <div class="slide slide-8 brotherhood-slide fade"></div>
    <div class="slide slide-9 brotherhood-slide fade"></div>
    <div class="slide slide-10 brotherhood-slide fade"></div>
    <div class="slide slide-11 brotherhood-slide fade"></div>
    <div class="slide slide-12 brotherhood-slide fade"></div>
    <div class="slide slide-13 brotherhood-slide fade"></div> -->

    <a class="prev" onclick="plusSlides(-1, 'brotherhood')">&#10094;</a>
    <a class="next" onclick="plusSlides(1, 'brotherhood')">&#10095;</a>

</div>
