<div id="portfolio">
    <h1> We work here... </h1>
    <div id="photobanner">
        {% assign image_files = site.static_files | where: "company_image", true %}
        {% for myimage in image_files %}
        <a target="blank" href="http://www.google.com/search?q={{myimage.basename}}&btnI">
            <img id="company-{{forloop.index}}" src="{{ myimage.path }}">
        </a>
        {% endfor %}
        {% for myimage in image_files %}
        <a target="blank" href="http://www.google.com/search?q={{myimage.basename}}&btnI">
            <img id="company-after" src="{{ myimage.path }}">
        </a>
        {% endfor %}
    </div>
</div>
