<div id="service">
    <h1> an organization for philanthropy.. </h1>
    <p> We believe it is essential to grow and support our community. As engineers, part of our job is to have a positive impact on society. We do our jobs as engineers by frequently participating in community service and planning fundraisers for charity. </p>

</div>

<div id="service-slides" class="slideshow-container">

    <div class="slide slide-1 service-slide fade"></div>
    <div class="slide slide-2 service-slide fade"></div>
    <div class="slide slide-3 service-slide fade"></div>
    <div class="slide slide-4 service-slide fade"></div>
    <div class="slide slide-5 service-slide fade"></div>

    <a class="prev" onclick="plusSlides(-1, 'service')">&#10094;</a>
    <a class="next" onclick="plusSlides(1, 'service')">&#10095;</a>

</div>
