<div id="sponsors">
    <h1> our sponsors </h1>
    <div class="company-logo-wrapper">
        <a href="https://www.united.com/">
            <img class="company-logo" src="/assets/imgs/sponsors/united airlines.png">
        </a>
        <a href="https://www.kiewit.com/">
            <img class="company-logo" src="/assets/imgs/companies/kiewit.jpg">
        </a>
        <a href="https://corporate.exxonmobil.com/">
            <img class="company-logo" src="/assets/imgs/companies/exxon mobil.jpeg">
        </a>
    </div>
</div
