<div id="sponsors">
    <h1> our sponsors </h1>
    <div class="company-logo-wrapper">
        <a href="https://www.ge.com/">
            <img class="company-logo" src="/assets/imgs/companies/general electric.png">
        </a>
        <a href="http://www.socoreenergy.com/">
            <img class="company-logo" src="/assets/imgs/sponsors/socore.png">
        </a>
        <a href="https://www.ineos-styrolution.com/index.html">
            <img class="company-logo" src="/assets/imgs/sponsors/ineos.png">
        </a>
        <a href="https://www.seagate.com/">
            <img class="company-logo" src="/assets/imgs/companies/seagate.png">
        </a>
    </div>
</div
