<div id="stats">
  <div id="particles"></div>
  <h1>about our chapter...</h1>
  <div class="data">
    <i class="fas fa-users"></i>
    <p class="number">90+</p>
    <span class="line"></span>
    <p>actives</p>
  </div>
  <div class="data">
    <i class="fas fa-building"></i>
    <p class="number">100+</p>
    <span class="line"></span>
    <p>companies</p>
  </div>
  <div class="data">
    <i class="fas fa-graduation-cap"></i>
    <p class="number">300+</p>
    <span class="line"></span>
    <p>alumni</p>
  </div>
  <div class="data">
    <i class="far fa-calendar-alt"></i>
    <p class="number">13</p>
    <span class="line"></span>
    <p>years active</p>
  </div>
</div>
