<section id="stats">
  <div class="stats-inner">
  <div class="stat">
    <div class="number">90+</div>
    <div class="line"></div>
    <div class="label">active brothers</div>
  </div>
  <div class="stat">
    <div class="number">300+</div>
    <div class="line"></div>
    <div class="label">alumni</div>
  </div>
  <div class="stat">
    <div class="number">17</div>
    <div class="line"></div>
    <div class="label">years active</div>
  </div>
  <div class="stat">
    <div class="number">100+</div>
    <div class="line"></div>
    <div class="label">companies</div>
  </div>
</div>
</section>