<section id="stats2">
    <div class="stats-inner">
      <div class="stat">
        <div class="number">60+</div>
        <div class="line"></div>
        <div class="label">events / sem</div>
      </div>
      <div class="stat">
        <div class="number">20+</div>
        <div class="line"></div>
        <div class="label">leadership opportunities</div>
      </div>
      <div class="stat">
        <div class="number">100+</div>
        <div class="line"></div>
        <div class="label">hours of service</div>
      </div>
      <div class="stat">
        <div class="number">∞</div>
        <div class="line"></div>
        <div class="label">memories</div>
      </div>
    </div>
  </section>