<div id="stats">
    <div id="stats-particles"></div>
    <h2> About our chapter... </h2>
    <div class="stats-data">
        <i class="fas fa-users"></i>
        <p class="number"> 76 </p>
        <span class="stats-line"></span>
        <p> Actives </p>
    </div>
    <div class="stats-data">
        <i class="fas fa-building"></i>
        <p class="number"> 98 </p>
        <span class="stats-line"></span>
        <p> Companies </p>
    </div>
    <div class="stats-data">
        <i class="fas fa-graduation-cap"></i>
        <p class="number"> 327 </p>
        <span class="stats-line"></span>
        <p>Alumni</p>
    </div>
    <div class="stats-data">
        <i class="far fa-calendar-alt"></i>
        <p class="number"> 107 </p>
        <span class="stats-line"></span>
        <p> Years Active </p>
    </div>
</div>
