<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!--Theta Tau logo -->
        <link rel="icon" type="image/ico" href="/assets/imgs/favicon.ico">


        <!-- -Imported JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/assets/js/app.js"></script>

 
    </head>
    <body>

        <div class="site">

            <!--<div id="hero-nav">-->
                <!--<a href="#home"> about</a> -->
                <!--<a href="#home"> rush</a> -->
                <!--<a href="#home"> faq</a> -->
                <!--<a href="#home"> contact</a> -->
            <!--</div>-->

            {{ content }}

        </div>

    </body>
</html>
