---
layout: default
---
<div class="post-wrapper" style="background-image: url('{{ page.background }}'); background-repeat: no-repeat; background-size: cover;">
    <div class="post">
        {% if page.image %}
        <img class="post-banner" src="{{ page.image }}">
        {% else %}{% endif %}
        <h2>
            {{ page.title }}
        </h2>
        <p class="meta">{{ page.date | date_to_string }}</p>
        <div class="content">
            {{ content }}
        </div>
    </div>
</div>
